services:
  postgres:
    container_name: postgres
    image: postgres
    environment:
      POSTGRES_DB: "orderstoredb"
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "123"
    
    ports:
      - "5432:5432"

